graft docs
graft src
graft tests

# Include the readme file
include README.rst
include LICENSE
exclude src/mlx/warnings/__version__.py
recursive-exclude docs _build *
recursive-exclude tests test_out *

include tox.ini .travis.yml .codeclimate.yml codecov.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib

# added by check_manifest.py
include NOTICE

# added by check_manifest.py
recursive-include ci *.py

# added by check_manifest.py
include *.md
