graft src
exclude src/mlx/warnings/__version__.py

# Include the readme file
include README.rst
include LICENSE
include NOTICE
include *.md
exclude MANIFEST.in
exclude .gitignore
recursive-exclude .github *
recursive-exclude docs *
recursive-exclude tests *

exclude tox.ini .travis.yml .codeclimate.yml codecov.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
